<div class="card" [class.disabled]="isVoted">
  <div class="image-wrapper">
    <img [src]="candidate.candidateImg || 'assets/no-photo.png'" 
         [alt]="'Foto de ' + candidate.name" 
         class="main-photo">
    
    @if (candidate.party?.logoUrl) {
      <img [src]="candidate.party?.logoUrl" 
           [alt]="'Logo de ' + candidate.party?.name" 
           class="party-badge">
    }
  </div>

  <div class="card-info">
    <h3>{{ candidate.name }}</h3>
    <p class="party-tag">{{ candidate.party?.name }}</p>
    <p class="position">{{ candidate.position?.name }}</p>

    <button 
      class="btn-vote" 
      [disabled]="isVoted" 
      [class.voted]="isVoted"
      (click)="onVoteClick()">
      {{ isVoted ? 'Voto Registrado' : 'Votar' }}
    </button>
  </div>
</div>